body {background-image: url(Rate-my-raid/Images/Rate\ my\ raid\ Icon.jpg);
border-color: silver;
}

/*Grid body */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    padding-bottom: 1rem;
    text-align: center;
}

header {
    grid-column: 1/13;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    background-color: #212121;
    color: antiquewhite;
    border-width: 2px;
}

footer {
    grid-column: 1/13;
    border-style: solid;
    border-width: 2px;
    color: antiquewhite;
    background-color: #212121;
    padding-left: 10px;
}

aside {
    grid-column: 9/13;
    border-right-style: solid;
    border-color: silver;
    border-width: 2px;
    border-left-style: solid;
    padding: 20px;
    color: antiquewhite;
    background-color: #303030;
}
/* Grid for main */
.main-grid-container {
    display: grid;
    background-color: #303030;
}

main {
    grid-column: 1/9;
    padding-left: 15px;
    padding-right: 15px;
    border-left-style: solid;
    border-color: silver;
    border-width: 2px;
    color: antiquewhite;
    font-size: 125%;
}

h3 {
    text-decoration: underline;
}

/* Nav */
#nav {
    display: grid;
    background-color: #272727;
    padding: 1rem;
    border-top-style: solid;
    border-width: 1px;
    border-color: silver;
    border-bottom-style: solid;

}
nav ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
    padding: 2rem;
    border-style: solid;
    border-radius: 0.5rem;
}

#Home-button:hover {
    background-color: purple;
}
#Potion-button:hover {
    background-color: green;
}
#Flask-button:hover {
    background-color: rgb(221, 119, 1);
}
#Food-button:hover {
    background-color: blue;
}
#Buff-button:hover {
    background-color: antiquewhite;
    color: black;
    border-color: black;
}
#Form-button:hover {
    background-color: red;
    color: black;
    border-color: black;
}
#Feedback-button:hover {
    background-color: pink;
    color: black;
    border-color: black;
}

/* Aside */
.aside-grid-container {
    display: grid;
}

aside {
    grid-column: 9/13;
    
}

#Aside-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 0%;
    text-decoration: underline;
}

#Aside-page-navbar {
    display: grid;
    justify-content: center;

}

#Aside-page-navbar img {
    padding: 1rem;
}

.Aside-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: antiquewhite;
    margin-bottom: 50%;
}

#Aside-text {
    font-size: 1.25rem;
}

